/*
Theme Name: Cotswold Archaeology website
Theme URI: http://cotswoldarchaeology.co.uk/
Author: AleksCreative
Author URI: http://alekscreative.com/
Description: Responsive Theme for Cotswold Archeology

Version: 1.1.2
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cotswold_archaeology_website


Cotswold Archaeology theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
        ## Breadcrumbs
	## Links
	## Menus
            ### General menu styling
                #### Top menu
                #### Main menu
                #### Company, outreach and careers menu
# Accessibility
# Alignments
# Clearings
# Widgets
# Footer
    ## Home page footer
# Header
# Content
	## Global
		### Posts and pages
		### Comments
        ##Front Page, Outreach and Services main pages
        ## News page
        ## Company page
        ## Community page
        ## Careers page
        ## Contact page
# Infinite scroll
# Media
	## Captions
	## Galleries
# Grid system

# Redcliffe
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
        padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

figcaption {
    font-style: italic;
    letter-spacing: 1px;
    font-size: 15px;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
        margin-top: 10px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.home .page .entry-title {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.site-content {
    font-size: 1.125em;
    line-height:1.6em;}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
        margin-top: 0;
}

h1,
h2,
h3,
h4{

    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #10B7E5;
    line-height: 1.3em;
    margin-top: 1rem;
    margin-bottom: 1rem;

}


h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #0f8aad;
    line-height: 1.3em;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

h1 { font-size: 35px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 17px; }
h6 { font-size: 16px; }



.white-bold-lato {
    font-family: 'Lato', serif;
    font-weight: bold;
    color: #fff;
}

p {
	margin-bottom: 1.5em;

}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
        font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #F1F1F1;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
        margin-bottom: 10px;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/

.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    border-bottom: 1px #c0c0c0 solid;
    font-size: 15px;
}
.breadcrumb a {

    text-decoration: none;
}

/* new*/
#breadcrumbs{
    list-style:none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    overflow:hidden;
}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}

#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #10B7E5;
        text-decoration: none;
        font-weight: bold;
}

a:visited {
	color: #10B7E5;
}

a:hover,
a:focus,
a:active {
	color: #0f8aad;
        text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General menu styling
--------------------------------------------------------------*/

.menu-horizontal {

    max-width: 1040px;
    margin: 0 auto;
}


.search-main {
    display: block;
    float: right;
    position: relative;
}
.search-form {
    position: absolute;
    top: -37px;
    right: 70px;
}

.search-submit {
    position: absolute;
    top: -4px;
    right: -50px;
}

@media screen and (max-width: 910px){
 .search-main {
    display: block;
    float: right;
    position: relative;
}
.search-form {
    position: absolute;
    top: 3px;
    right: 40px;
}
.search-submit {
    position: absolute;
    top: 0;
}

}

.menu-image {
  margin-bottom: 3px;
}


/*--------------------------------------------------------------
#### Top menu
--------------------------------------------------------------*/
.menu-horizontal-top ul li{
    display: inline;
}
#top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #f2f2f2;
    border-bottom: 2px #efeded solid;
    padding-left: 5px;
    min-height: 35px;
}



#top-navigation ul {

    margin: 0;
    padding: 0;
}

#top-navigation a
{
    display: inline-block;
    color: #10B7E5;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    padding-right: 10px;
}
#top-navigation a:hover,
#top-navigation a:focus {
    color: #0f8aad;
}


@media screen and (max-width:600px) {
    #top-navigation a {
        font-size: 13px;
        padding: 0 5px;
    }
}
@media screen and (max-width:540px) {
    #top-navigation a {
        font-size: 12px;
            }
            #top-navigation {
                height: 60px;
            }
}


/* Company menu item styling */
#top-navigation ul li:nth-of-type(3) a,
.menu-1-mobile-container ul li:nth-of-type(2) a{
    color: #00949C;
}
#top-navigation ul li:nth-of-type(3) a:hover,
#top-navigation ul li:nth-of-type(3) a:focus,
.menu-1-mobile-container ul li:nth-of-type(2) a:hover,
.menu-1-mobile-container ul li:nth-of-type(2) a:focus{
    color: #046f75;
}
/* Outreach menu item styling */
#top-navigation ul li:nth-of-type(4) a,
.menu-1-mobile-container ul li:nth-of-type(3) a{
    color: #E87E25;
}
#top-navigation ul li:nth-of-type(4) a:hover,
#top-navigation ul li:nth-of-type(4) a:focus,
.menu-1-mobile-container ul li:nth-of-type(3) a:hover,
.menu-1-mobile-container ul li:nth-of-type(3) a:focus{
    color: #af6127;
}

/* Careers menu item styling */
#top-navigation ul li:nth-of-type(5) a,
.menu-1-mobile-container ul li:nth-of-type(4) a{
    color: #7AA840;
}
#top-navigation ul li:nth-of-type(5) a:hover,
#top-navigation ul li:nth-of-type(5) a:focus,
.menu-1-mobile-container ul li:nth-of-type(4) a:hover,
.menu-1-mobile-container ul li:nth-of-type(4) a:focus{
    color: #5d7f38;
}

/* Contact us menu item styling */
#top-navigation ul li:nth-of-type(6) a,
.menu-1-mobile-container ul li:nth-of-type(5) a{
    color: #808080;
}
#top-navigation ul li:nth-of-type(6) a:hover,
#top-navigation ul li:nth-of-type(6) a:focus,
.menu-1-mobile-container ul li:nth-of-type(5) a:hover,
.menu-1-mobile-container ul li:nth-of-type(5) a:focus{
    color: #606161;
}

/* centres menu */
#top-navigation ul{
    max-width: 1040px;
    margin: 0 auto;
}
@media screen and (max-width: 1050px) {
    #top-navigation ul {
        margin: 0;

    }
}



/*--------------------------------------------------------------
#### Main menu
--------------------------------------------------------------*/

/*Home menu styling */

.menu-1-container ul li:nth-of-type(1) a {
    background-color: #10B7E5;
    border: 1px  hidden;
    border-radius: 7px 7px 0px 0px;

}
.menu-1-container ul li:nth-of-type(1) a:hover,
.menu-1-container ul li:nth-of-type(1) a:focus {
    background-color: #0f8aad;

}

/* Company menu item styling */
.menu-1-container ul li:nth-of-type(2) a{
    background-color: #00949C;
    border: 1px  hidden;
    border-radius: 7px 7px 0px 0px;

}
.menu-1-container ul li:nth-of-type(2) a:hover,
.menu-1-container ul li:nth-of-type(2) a:focus {
    background-color: #046f75;

}
/* Outreach menu item styling */
.menu-1-container ul li:nth-of-type(3) a {
    background-color: #E87E25;
    border: 1px  hidden;
    border-radius: 7px 7px 0px 0px;
}
.menu-1-container ul li:nth-of-type(3) a:hover,
.menu-1-container ul li:nth-of-type(3) a:focus {
    background-color: #af6127;
}

/* Careers menu item styling */
.menu-1-container ul li:nth-of-type(4) a{
    background-color: #7AA840;
    border: 1px  hidden;
    border-radius: 7px 7px 0px 0px;
}
.menu-1-container ul li:nth-of-type(4) a:hover,
.menu-1-container ul li:nth-of-type(4) a:focus {
    background-color: #5d7f38;
}

/* Contact us menu item styling */
.menu-1-container ul li:nth-of-type(5) a {
    background-color: #808080;
    border: 1px  hidden;
    border-radius: 7px 7px 0px 0px;
}
.menu-1-container ul li:nth-of-type(5) a:hover,
.menu-1-container ul li:nth-of-type(5) a:focus {
    background-color: #606161;
}


.menu-1-container ul {
	margin: 0;
        padding: 0;
}
.menu-1-container ul li {

        float: left;
        line-height: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        margin-right: 4px;
        display: block;

}


.menu-1-container ul li a {
        display: block;
        color: #fff;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
	text-decoration: none;
        font-weight: bold;
}


.menu-toggle {
		display: none;
	}




@media screen and (max-width:1050px) {
    .main-navigation a {
        font-size: 13px;
        padding-right: 5px;
    }
}




/*------- Search form in menu---------- */




.header-wrapper .search-field,
.header-wrapper-menus .search-field{
    width: 230px;
    height: 34px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;

    padding: 3px 10px 3px 10px;

}
@media screen and (max-width: 910px){
    .header-wrapper .search-field,
.header-wrapper-menus .search-field{
    width: 330px;
    height: 44px;
    font-size: 17px;
    padding: 6px 10px 6px 10px;

}
}
@media screen and (max-width: 530px){
    .header-wrapper .search-field,
.header-wrapper-menus .search-field{
    width: 250px;
    font-size: 16px;
    padding: 8px 10px 8px 10px;

}
}
@media screen and (max-width: 440px){
    .header-wrapper .search-field,
.header-wrapper-menus .search-field{
    width: 200px;
    font-size: 15px;
    padding: 9px 10px 9px 10px;

}
}
@media screen and (max-width: 370px){
    .header-wrapper .search-field,
.header-wrapper-menus .search-field{
    width: 150px;
    font-size: 15px;
    padding: 9px 10px 9px 10px;

}
}


.search-form
.search-submit {
    color: transparent;
    background-color: transparent;
    height: 45px;
    width: 45px;
    background-image: url('./images/search-icon.png');
        background-size: 24px 24px;
	background-position: 10px 10px;
        background-repeat: no-repeat;
    border: 1px transparent;

}


/*--------------------------------------------------------------
#### Company, outreach and careers menus
--------------------------------------------------------------*/

/* General styling */



#site-navigation-mobile {
    margin:0;
    padding: 0;
    width: 100%;

}
.nav-menu {
    height: 40px;
}

 #site-navigation-mobile .button-panel {
    background-color: #10B7E5;
    background: -webkit-linear-gradient(#0f8aad, #10B7E5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0f8aad, #10B7E5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0f8aad, #10B7E5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0f8aad, #10B7E5); /* Standard syntax */}

.company-menu {
    background-color: #046f75;
    background: -webkit-linear-gradient(#046f75, #00949C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#046f75, #00949C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#046f75, #00949C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#046f75, #00949C); /* Standard syntax */
}
.outreach-menu {
    background-color: #E87E25;
    background: -webkit-linear-gradient(#af6127, #E87E25); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#af6127, #E87E25); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#af6127, #E87E25); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#af6127, #E87E25); /* Standard syntax */
}
.careers-menu {
    background-color: #7aa840;
    background: -webkit-linear-gradient(#5d7f38, #7aa840); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5d7f38, #7aa840); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5d7f38, #7aa840); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5d7f38, #7aa840); /* Standard syntax */
}
.contact-menu {
    background-color: #808080;
    background: -webkit-linear-gradient(#606161, #808080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#606161, #808080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#606161, #808080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#606161, #808080); /* Standard syntax */
}

/* First level menu styling */
.nav-menu {
    display: block;
    padding-left: 2px;
}

.nav-menu ul {
    margin: 0;
    padding: 0; /* CSS reset */
}


.nav-menu li{
    display: block;
    float: left;
    line-height: 40px;
    margin: 0; padding: 0;
    position: relative;
    z-index: 1000;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0 10px;
}
.outreach-menu-mobile-container ul li,
.contact-menu-mobile-container ul li,
.company-menu-mobile-container ul li,
.careers-menu-mobile-container ul li {
    min-height: 40px;
    margin: 0;
    padding: 10px;

}
.menu-1-mobile-container ul li {
    min-height: 40px;
    margin: 0;
    padding: 10px;
    border-bottom: #cdcccc 2px solid;
    background-color: #f2f2f2;

}


/* Second level menu styling */

.company-menu-container ul ul,
.outreach-menu-container ul ul,
.contact-menu-container ul ul,
.careers-menu-container ul ul
{ /* this targets all sub menus */
    display: none; /* hide all sub menus from view */
    position: absolute;
    top: 40px; /* this should be the same height as the top level menu -- height + padding + borders */

}


.company-menu-container ul ul li,
.outreach-menu-container ul ul li,
.contact-menu-container ul ul li,
.careers-menu-container ul ul li { /* this targets all submenu items */
    float: none; /* overwriting our float up above */
    width: 250px; /* This needs to match the value we set below */
}



.company-menu-container ul ul li a,
.outreach-menu-container ul ul li a,
.contact-menu-container ul ul li a,
.careers-menu-container ul ul li a {
   padding: 5px 10px; /* give the sub menu links a nice button feel */
}


.company-menu-mobile-container ul li a,
.company-menu-container ul ul li a{
       color: #046f75;
}
.outreach-menu-mobile-container ul li a,
.outreach-menu-container ul ul li a{
    color: #af6127;
}
.contact-menu-mobile-container ul li a,
.contact-menu-container ul ul li a {
    color: #606161;
}
.careers-menu-mobile-container ul li a,
.careers-menu-container ul ul li a {
    color: #5d7f38;
}
.company-menu-container ul ul li{
    border: #7fc9cd 1px solid;}

.company-menu-mobile-container ul li,
.company-menu-container ul ul li{

    background-color: #7fc9cd;
    background: -webkit-linear-gradient(#a7d7da, #7fc9cd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a7d7da, #7fc9cd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a7d7da, #7fc9cd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a7d7da, #7fc9cd); /* Standard syntax */
    }


.outreach-menu-container ul ul li{
border: #f2be92 1px solid;}

.outreach-menu-mobile-container ul li ,
.outreach-menu-container ul ul li{
    border: #f2be92 1px solid;
    background-color: #f2be92;
    background: -webkit-linear-gradient(#f5cfb0, #f2be92); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5cfb0, #f2be92); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5cfb0, #f2be92); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5cfb0, #f2be92); /* Standard syntax */
}
.contact-menu-container ul ul li{
    border: #c0bfbf 1px solid;}

.contact-menu-mobile-container ul li ,
.contact-menu-container ul ul li{

    background-color: #c0bfbf;
    background: -webkit-linear-gradient(#cdcccc, #c0bfbf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cdcccc, #c0bfbf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cdcccc, #c0bfbf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cdcccc, #c0bfbf); /* Standard syntax */
}

.careers-menu-container ul ul li {
border: #bcd38f 1px solid;
}
.careers-menu-mobile-container ul li ,
.careers-menu-container ul ul li {
    background-color: #bcd38f;
    background: -webkit-linear-gradient(#cfdfae, #bcd38f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cfdfae, #bcd38f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cfdfae, #bcd38f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cfdfae, #bcd38f); /* Standard syntax */
}



.company-menu-container ul ul li a:hover,
.company-menu-container ul ul li a:focus
{
    color: #046f75;
    opacity: 0.8;
}

.outreach-menu-container ul ul li a:hover,
.outreach-menu-container ul ul li a:focus {
    color: #af6127;
    opacity: 0.8;
}

.careers-menu-container ul ul li a:hover,
.careers-menu-container ul ul li a:focus {
    color: #5d7f38;
    opacity: 0.8;
}
.contact-menu-container ul ul li a:hover,
.contact-menu-container ul ul li a:focus {
    color: #c0bfbf;
    opacity: 0.8;
}

.company-menu-container ul li:hover > ul,
.company-menu-container ul li:focus > ul,
.outreach-menu-container ul li:hover > ul,
.outreach-menu-container ul li:focus > ul,
.careers-menu-container ul li:hover > ul,
.careers-menu-container ul li:focus > ul,
.contact-menu-container ul li:hover > ul,
.contact-menu-container ul li:focus > ul
{
    display: block; /* show sub menus when hovering over a parent */

}
/* Third level menus */

.company-menu-container ul ul li ul,
.outreach-menu-container ul ul li ul,
.careers-menu-container ul ul li ul,
.contact-menu-container ul ul li ul{
    /* target all second, third, and deeper level sub menus */
    left: 250px; /* this needs to match the sub menu width set above -- width + padding + borders */
    top: 0; /* this ensures the sub menu starts in line with its parent item */
}
/*containers styling */

.company-menu-container ul ul li ul li {
    border: #a7d7da 1px solid;
}
.company-menu-mobile-container ul ul li a,
.company-menu-container ul ul li ul li a{

    background-color: #a7d7da;
    background: -webkit-linear-gradient(#cceaeb, #a7d7da); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cceaeb, #a7d7da); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cceaeb, #a7d7da); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cceaeb, #a7d7da); /* Standard syntax */
    }

.outreach-menu-container ul ul li ul li {
    border: #f5cfb0 1px solid;
}
.outreach-menu-mobile-container ul ul li a,
.outreach-menu-container ul ul li ul li a{

    background-color: #f5cfb0;
    background: -webkit-linear-gradient(#f8e4d3, #f5cfb0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f8e4d3, #f5cfb0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f8e4d3, #f5cfb0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f8e4d3, #f5cfb0); /* Standard syntax */
}
.contact-menu-container ul ul li ul li {
    border: #cdcccc 1px solid;
}
.contact-menu-mobile-container ul ul li a,
.contact-menu-container ul ul li ul li a{

    background-color: #cdcccc;
    background: -webkit-linear-gradient(#e6e6e5, #cdcccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e6e5, #cdcccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e6e5, #cdcccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e6e5, #cdcccc); /* Standard syntax */
}
.careers-menu-container ul ul li ul li {
   border: #cfdfae 1px solid;}

.careers-menu-mobile-container ul ul li a,
.careers-menu-container ul ul li ul li a {

    background-color: #cfdfae;
    background: -webkit-linear-gradient(#e4ecd3, #cfdfae); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e4ecd3, #cfdfae); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e4ecd3, #cfdfae); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e4ecd3, #cfdfae); /* Standard syntax */
}




/* centers the menu */

#company-menu ul,
#outreach-menu ul,
#careers-menu ul,
#contact-menu ul{

    max-width: 1040px;
    margin: 0 auto;
}
@media screen and (max-width: 1050px) {
    #company-menu ul, #outreach-menu ul, #careers-menu ul,  #contact-menu ul{
        margin: 0px;

    }
}

.nav-menu-mobile {
        display: none;

    }


/* Separate mobile menus */




@media screen and (max-width: 910px){



     .menu-toggle    {
        display: block;
        height: 50px;
        width: 100%;
        padding: 0;
        margin-left: 25px;
        text-align: left;
    }

    .toggle-menu ul.nav-menu-mobile {
        display: none;
    }
    .toggle-menu ul.nav-menu-mobile.toggled-on {
        display: inline-block;
    }

    .header-wrapper .search-field,
    .header-wrapper-menus .search-field{
        bottom: 0;
    }
    .search-main {

    margin-right:3%;
    margin-top: 0;

}

    .nav-menu{
        display: none;

    }
    .sub-menu {
  display: none;
}
}

.nav-menu-mobile{

    margin: 0;
    padding: 0;
    width: 100%;
background-color: #fff;
}
.nav-menu-mobile ul{
     list-style: none;

}


.nav-menu-mobile li a {
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        text-decoration: none;
        border: 0px  solid;
        border-radius: 0px;

    }

.nav-menu-mobile li {

  padding: 0;
  margin:0;

}





.careers-menu-mobile-container {

}
.outreach-menu-mobile-container {

}
.contact-menu-mobile-container {

}
.company-menu-mobile-container {

}

button.menu-toggle {
    background-color: transparent;
    color: #fff;
    border: 0 solid;
    font-size: 20px;
    font-weight: bold;

}
.company-menu-mobile-container ul ul,
.careers-menu-mobile-container ul ul,
.outreach-menu-mobile-container ul ul,
.company-menu-mobile-container ul ul

{
        padding: 0;
        margin: 0;

    }

/*------------------*/


.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}





/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
        text-align: center;
}
.padding-top20 {
    padding-top: 20px;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.clearfix {
    clear: both;
}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body.logged-in #top-navigation {
	margin-top:32px;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}
.mobile-container {
    width: 100%;

}
.two-third {
display: block;
width: 70%;
float: right;
padding: 0 15px;
margin: 0;

}
.one-third {
display: block;
width: 30%;
float: left;
padding:  15px;
margin: 0;
}

.two-third-left {
display: block;
width: 70%;
float: left;
padding: 0 15px;
margin: 0;
}
.one-third-right {
display: block;
width: 30%;
float: right;
padding:  15px;
margin: 0;
}
.two-third-right {
display: block;
width: 70%;
float: right;
padding: 0 15px;
margin: 0;
}
.one-third-left {
display: block;
width: 30%;
float: left;
padding:  15px;
margin: 0;
}

@media screen and (max-width: 910px){
    .mobile-container {
     display: flex;
     flex-direction: column;
    }

    .two-third {
    width: 100%;
    order: 2;
    }
    .one-third {
    width: 100%;
    order: 1;

    }
    .one-third div {
    display: inline;

    }

    }
/* Page navi */
.page-navi ul {
    margin: 0;


}

.page-navi ul li {
    list-style: none;
    font-size: 16px;
    line-height: 17px;
    padding: 5px;

}
.page-navi ul li p{
    padding: 0;
}

@media screen and (max-width: 910px){
    .page-navi ul li {
        display: inline;
    }
}

.page-navi a {
    font-weight: normal;

}

.page-navi ul ul {
    margin-left: 15px;
    padding: 0;
}
.page-navi ul ul li{
    opacity: 0.8;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*General*/

.footer-wrapper{
    margin: 0 10px;


}

@media screen and (min-width: 1050px) {
    .footer-wrapper {
        max-width: 1040px;
        margin: 0 auto;

    }
}
/*--------------------------------------------------------------
## Footer styles
--------------------------------------------------------------*/

/*--------------- First Footer --------------*/

/* office locations */

.home-footer-1 {
    padding: 20px 0;
    background-color: #d3ecf3;
    line-height: 20px;
    color: #08637E;
}


.home-footer-1 h2 {
    color: #08637E;
    font-family: 'Playfair display', serif;

    font-size: 24px;
    line-height: 3px;
}
.home-footer-1 a{
    color: #08637E;
}

.office-locations {


}



/*---------------Second footer--------------*/

.home-footer-2 {
    background-color: #ade2f1;
    color: #404040;
}
.footer-2 a{
    color: #404040;
    text-decoration: none;
}
.footer-2 a:hover,
.footer-2 a:focus {
	color: #2d2d2d;
    text-decoration: underline;
}


.footer-2 h2 {
    color: #404040;
    font-size: 20px;
}

/*Contact form */
.wpcf7-form-control-wrap input {
    width: 100%;}

.wpcf7-form input[type="submit"]{
    font-size: 16px;
    color: #fff;
    padding-bottom:12px;
    font-weight: bold;
    background-color: #10B3E1;
    border: #fff 2px solid;
    border-radius: 5px;

}
@media screen and (max-width:670px) {
    .wpcf7-form input[type="submit"] {
        font-size: 20px;
    }
}

/*--------------Third Footer---------------*/
/* Footer copyright */
.site-info {
    font-size: 13px;
    line-height: 6px;
    color: #000;
    opacity: 0.5;

}

.footer-site-map {
    text-align: right;

}

.footer-site-map a {
    color: #000;
    opacity: 0.8;
}

/*-- Main page --*/

.home-footer-3 {
    background-color: #83D7EE;
}
/*-- Company --*/
.company-footer {
    background-color: #7fc9cd;
}
/*-- Community --*/
.community-footer {
    background-color: #f2be92;
}
/*-- Careers --*/
.careers-footer {
    background-color: #bcd38f;
}

/*-- Contact --*/
.contact-footer {
    background-color: #c0bfbf;
}




/* Footer general */

.footer-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1050px;
}

.flex-office-locations {
    width: 20%;
    min-width: 205px;
    margin-bottom: 15px;
    padding-right: 18px;
}
.flex-office-locations:last-child {
    padding-right: 0;
}

@media screen and (max-width: 1040px) {
    .flex-office-locations {
        width: 33%;
    }
}
@media screen and (max-width: 650px) {
    .flex-office-locations {
        width: 49%;
    }
}

@media screen and (max-width: 500px) {
    .flex-office-locations {
        width: 99%;
    }
}

.footer-stack {
    width: 23%;
    float: left;
    border: 1px hidden;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
@media screen and (max-width: 1040px) {
    .footer-stack {
        width: 46.8%;
        margin: 0 2% 2% 1%;
        float: left;
    }

}
@media screen and (max-width: 420px) {
    .footer-stack {
        width: 99%;
        float: left;
    }
}
.footer-stack3 {
    width: 46.8%;
    float: left;
    border: 1px hidden;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
}


@media screen and (max-width: 690px) {
    .footer-stack3 {
        width: 99%;

        float: left;

    }
    .footer-site-map {
        text-align: left;
    }
}
@media screen and (max-width: 340px) {
    .footer-stack3 {
        font-size: 14px;
        line-height: 20px;

    }
    .footer-site-map {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 35px;
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    padding-top: 15px;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.posted-on {
	color: #aaa;
	font-style: italic;
}


/*--------------------------------------------------------------
## Global
--------------------------------------------------------------*/

.custom-logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 910px) {
    .custom-logo {
        width: 256px;
        height: 110px;
        margin-bottom: 10px;
    }
}

.front-page-background {
    background-color: #edf8fc;

}
.company-pages-background {
    background-color: #ebf7f7;
}

.community-pages-background {
    background-color: #fff6ee;
}

.careers-pages-background {
    background-color: #f5f9ee;
}
.contact-pages-background {
    background-color: #f5f6f6;
}

#main {
    background-color: #fff;
    padding: 13px 30px;
    display: block;
}
@media screen and (max-width: 910px){
    #main {
    padding: 13px;
    }
}

.header-wrapper{
    max-width: 1040px;
    margin: 0 auto;
}

.site-branding {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 5px;
}



.site-main{
       max-width: 1040px;
       margin: 0 auto;
       font-size: 17px;
       line-height: 24px;
}
@media screen and (max-width: 480px) {
    .site-main{
        margin: 0;
        font-size: 14px;
        line-height: 25px;
    }
}
@media screen and (max-width: 960px) {
    .site-main{
        font-size: 16px;
        margin: 0 8px;
        line-height: 26px;
    }
}




/* layouts */



.main-left {
 width: 49%;
 height: 100%;
 float: left;
}


.main-right {
    width: 49%;
    height: 100%;
    float: right;

}
@media screen and (max-width: 910px) {
    .fullpage
     {
        width: 100%;
        float: left;
    }

}

/*--- company and community four boxes panel----*/

.one-fourth {
    width: 25%;
    float: left;
    margin: 10px 0px;
    padding: 0px;
}
@media screen and (max-width: 1040px) {
    .one-fourth {
        width: 50%;
        margin: 10px 0;
        float: left;
    }

}
@media screen and (max-width: 420px) {
    .one-fourth {
        width: 100%;
        float: left;
    }
}

.panel-header {
  height: 70px;
  margin: 10px;
}
.panel-header h4,
.services-panel{
  font-family: Lato, sans-serif;
  font-size: 22px;
  text-align: center;

}
.panel-of-four .panel-header h4,
.panel-of-four .panel-header a{
    color: #fff;
}
.panel-of-four .panel-header a:hover {
    color: #fff;
    opacity: 0.8;
}

.panel-image {
    margin: 10px;
    text-align: center;
}
@media screen and (max-width: 560px){
    .panel-header h4{
  font-size: 20px;}
    .panel-header {
  height: 80px;
  margin: 7px;
}
}
@media screen and (max-width: 420px){
    .panel-header h4{
  font-size: 25px;}
    .panel-header {
  height: 70px;
  margin: 10px;
}
}


/*--colours---*/
.outreach-p1-color{
    background-color: #248380;
}
.outreach-p2-color{
    background-color: #448C63;
}
.outreach-p3-color{
    background-color: #22A68D;
}
.outreach-p4-color{
    background-color: #92B86B;
}
.company-p1-color {
  background-color: #B1BD46;
}
.company-p2-color {
  background-color: #8D9E6C;
}
.company-p3-color {
  background-color: #6A7F91;
}
.company-p4-color {
  background-color: #6DADD2;
}

/* ----Pages typography colours----- */

/*--Company--*/
.category-business-news h2.entry-title a,
.category-business-news a,
.category-business-news h2,
.company h1,
.company h2,
.company h3,
.company h4,
.company a
{
 color: #00949C;
}

.category-business-news h2.entry-title a:hover,
.category-business-news h2.entry-title a:focus,
.category-business-news a:hover,
.category-business-news a:focus,
.company h5,
.company h6,
.company a:hover,
.company a:focus
{
 color: #046f75;
}

/*--Community--*/
.category-community-news h2.entry-title a,
.category-community-news a,
.category-community-news h2,
.community h1,
.community h2,
.community h3,
.community h4,
.community a

{
 color: #E87E25;
}
.category-community-news h2.entry-title a:hover,
.category-community-news h2.entry-title a:focus,
.category-community-news a:hover,
.category-community-news a:focus,
.community h5,
.community h6,
.community a:hover,
.community a:focus
{
 color: #af6127;
}

/*--Careers--*/

.careers h1,
.careers h2,
.careers h3,
.careers h4,
.careers a
{
 color: #7AA840;
}

.careers h5,
.careers h6,
.careers a:hover,
.careers a:focus

{
 color: #5d7f38;
}
/*--Contact--*/

.contact h1,
.contact h2,
.contact h3,
.contact h4,
.contact a
{
 color: #808080;
}

.contact h5,
.contact h6,
.contact a:hover,
.contact a:focus
{
 color: #606161;
}
/* ---news feed general ---*/

.home-link {
    line-height: 30px;
}
.home-link a {
    font-size: 25px;
}

h5.home-link a {
    font-size: 21px;

}

.newsfeed {
    line-height: 24px;
    margin-bottom: 10px;
}
.newsfeed a{
    font-size: 20px;

}

.newsfeed-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;

}
.newsfeed-list img {
    height: 80px;
    width: auto;}


.newsfeed-list h4 {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: top;

}
.newsfeed-list p {
    font-size: 16px;
    line-height: 18px;
}
#read-more {
    font-size: 15px;
}
.newsfeed-list-gallery ul{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    margin-top: 20px;

}
.newsfeed-list-gallery ul li{
    display: inline;
}
.newsfeed-list-gallery img{
    height: 150px;
    width: auto;

}

@media screen and (max-width: 910px){
    .home-link {
    line-height: 25px;
}
    .home-link a{
    font-size: 22px;
}
.newsfeed {
    line-height: 19px;
    margin-bottom: 10px;
}
.newsfeed a{
    font-size: 17px;

}

}

.float-left {
    float: left;
    display: block;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* --- flex office stacking --- */

.office-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
}

.flex-contact-office-locations {
    width: 100%;
		display: flex;
		flex-wrap: nowrap;
    margin-bottom: 15px;
    padding-right: 10px;
}

.office-details {
	width: 30%;
	min-width: 200px;
	padding-right: 15px;
	margin-bottom: 15px;
}

.office-map {
	width: 40%;
	min-width: 200px;
}

.office-main-contacts {
	width: 30%;
	min-width: 200px;
	padding-left: 15px;
}
.office-main-contacts p {
	margin-top: 0;
}
.office-divider {
	height: 1px;
	width: 100%;
	background-color: #d8d8d8;
	margin-bottom: 25px;
}

@media screen and (max-width: 650px) {
	.flex-contact-office-locations {
		flex-wrap: wrap;
	}
    .office-details, .office-map, .office-main-contacts {
        width: 49%;
				padding-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .office-details, .office-map, .office-main-contacts  {
        width: 99%;
    }
}

.office-head {
	width: 100%;
	margin-bottom: 0;
}

.office-head-photo img {
	max-width: 130px;
	margin-bottom: 0;
}

.office-head-name h4 {
	margin: 5px 0;
}


/*---services main page----*/
.services-intro {
    background-color: #EBF7F7;
    min-height: 800px;
    padding: 10px 20px;

}
.services-background {
   background-color: #EBF7F7;
   padding:5px 25px;
}


/*--------------------------------------------------------------
### Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
## Front Page, Outreach and Services main pages
---------------------------------------------------------------*/

/* Left panel */

.home-page-main h1,
.home-page-main h2,
.home-page-main h3 {
    font-size: 27px;
}



.important_info {
    color: #fff;
    font-size: 16px;
    padding: 1px 15px 1px 15px;
    margin: 0 5px 10px 0 ;
    border: 10px hidden;
    border-radius: 5px;
    line-height: 20px;
}
.important_info a {
    color: #fff;

}
.important_info a:hover,
.important_info a:focus {
    color: #ebf7f7;

}
.important_info h1,
.important_info h2,
.important_info h3,
.important_info h4,
.important_info h5 {
    color: #222222;
    opacity: 0.6;
    font-size: 20px;
		margin-top: 15px;
    line-height: 20px;
}
@media screen and (max-width: 460px) {
    .important_info {
    font-size: 14px;
    padding: 1px 16px 1px 10px;
    border: 5px hidden;
    line-height: 18px;
}

.important_info h1,
.important_info h2,
.important_info h3,
.important_info h4,
.important_info h5 {

    font-size: 17px;
    line-height: 15px;
}
}


#careers {
    background-color: #7AA840;
}

#outreach {
    background-color: #E87E25;
}

#services {
    background-color: #00949C;
}
/* right panel */

#home-new-content {
    font-size: 16px;
    background-color: #d0edf6;
    padding: 1px 15px;
    line-height: 20px;
    border: 10px hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}
#home-new-content h1,
#home-new-content h2,
#home-new-content h3 {
    font-size: 17px;
    line-height: 10px;
}
.grey-box {
    border: 2px #E2E2E2 solid;
    margin-bottom: 10px;
}

.latest-news {
    padding: 35px 15px 15px 15px;

    position: relative;
}
.latest-news h2{
    font-size: 18px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    position: absolute;
    border: 0 hidden;
    border-radius: 0 0 0 8px;
    text-align: right;

    right: 0;
    top: -16px;
}


.home-news h2 {
    width: 123px;
    background-color: #10B3E1;

}
.outreach-news h2 {

    background-color: #E87E25;

}
.business-news h2 {
    background-color: #00949C;
}
.outreach-events h2 {
    width: 80px;
    background-color: #E87E25;

}


.business-news h4.home-link {
    margin-right: 140px;
    margin-top: -25px;
}

.home-news h4.home-link {
    margin-right: 120px;
    margin-top: -25px;
}
.outreach-news h4.home-link {
    margin-right: 160px;
    margin-top: -25px;
}



/*----events---*/

ul.event-categories{
    list-style: none;
    margin: 0;
    padding: 0;
}

#em_calendar-2 {
    padding: 15px;
    padding-top: 45px;
}

#em_widget-2 {
    background-color: #f8e4d3;
    min-height: 320px;
    padding: 10px;
    font-size: 15px;

}

#em_widget-2 h4
{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    display: inline;
    margin: 10px;
}
#em_widget-2 ul {

    padding:0;
    margin:5px;
}
#em_widget-2 ul li {
    list-style: none;
}


.outreach-events {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#wp-calendar caption {
    font-weight: bold;
}

.outreach-events h2{
    font-size: 18px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    position: absolute;
    border: 0 hidden;
    border-radius: 0 0 0 8px;
    text-align: right;

    right: 0;
    top: -16px;
}

.event h1,
.event h2 {
    font-size: 22px;
}
.half section{
        width: 50%;
        margin: 0;

        float: left;
    }

@media screen and (max-width: 470px) {
    .half section {
        width: 100%;
        float: left;
    }
    #em_widget-2 {
    padding-top: 40px;

}
}




/*--------------------------------------------------------------
## News page
--------------------------------------------------------------*/

.sidebar-news {
    background-color: #d0edf6;
}
.main-news {
    background-color: #fff;
}

.category-list {
    margin: 0;

}
.category-list li {
    list-style: none;
}
li.categories {
    font-weight: bold;

}

.cat-item-1 a{
    color: #10B3E1;
}
.cat-item-1 a:hover,
.cat-item-1 a:focus{
    color: #0f8aad;
}

.cat-item-5 a{
    color: #00949C;
}
.cat-item-5 a:hover,
.cat-item-5 a:focus{
    color: #046f75;
}
.cat-item-90 a{
    color:#E87E25;
}

.cat-item-90 a:hover,
.cat-item-90 a:focus{
    color: #af6127;
}

.archive nav#site-navigation a:hover,
.archive nav#site-navigation a:focus {
    color: #fff;
}

/*------------------------------------------------------
## Publications pages
------------------------------------------------------*/

.publication-list {

    background-color:#f5cfb0;
}
.publication-list a {
    color:#E87E25;
}
.publication-list h6{
    margin-top: 0px;
    font-size: 20px;
}
.publication,
.publication h2,
.publication h2 a
{
    font-family: 'Lato', sans-serif;
    color:#E87E25;
    font-size: 20px;
}

.publication-downloads a {
    color:#E87E25;
    font-size: 18px;
}

@media screen and (max-width: 500px){
    .publication-downloads a {
    font-size: 22px;
}
}
.publication-downloads p {
    margin: 5px 0;
}

/*--------------------------------------------------------------
## Contact Pages
--------------------------------------------------------------*/





/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 0.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 5px 2px;
        font-weight: bold;
        color: #404040;
}

.wp-caption-text {
	text-align: left;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*---------------404---------------*/

.error-404 ul {
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 10px;
}












/*--------------------------------------------------------------
## Grid system
--------------------------------------------------------------*/







/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
  	min-height: 1px;
	padding-right: 20px; /* column-space */
}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}

.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
	margin-left: 25%;
}

.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 10px; /* column-space */
	}

	[class*='col-'] [class*='col-'] {
		padding-right: 0;
	}

	/* Mobile Layout */

	[class*='mobile-col-'] {
		float: left;
		margin: 0 0 10px;
		padding-left: 0;
		padding-right: 10px; /* column-space */
		padding-bottom: 0;
	}

	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3, .mobile-col-8-12 {
		width: 66.66%;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.mobile-col-1-3, .mobile-col-4-12 {
		width: 33.33%;
	}

	.mobile-col-1-4, .mobile-col-3-12 {
		width: 25%;
	}

	.mobile-col-1-5 {
		width: 20%;
	}

	.mobile-col-1-6, .mobile-col-2-12 {
		width: 16.667%;
	}

	.mobile-col-1-7 {
		width: 14.28%;
	}

	.mobile-col-1-8 {
		width: 12.5%;
	}

	.mobile-col-1-9 {
		width: 11.1%;
	}

	.mobile-col-1-10 {
		width: 10%;
	}

	.mobile-col-1-11 {
		width: 9.09%;
	}

	.mobile-col-1-12 {
		width: 8.33%
	}

	/* Layout Columns */

	.mobile-col-11-12 {
		width: 91.66%
	}

	.mobile-col-10-12 {
		width: 83.333%;
	}

	.mobile-col-9-12 {
		width: 75%;
	}

	.mobile-col-5-12 {
		width: 41.66%;
	}

	.mobile-col-7-12 {
		width: 58.33%
	}

	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}

.padding10 {
    padding: 10px;

}

.padding1020 {
	padding: 10px 20px;
}

.padding-left20 {
    padding: 0;
    padding-left: 20px;
}
.height-150 {
    max-width: 150px;

}
@media screen and (max-width:540px) {
    .top-30 {
        margin-top: 30px;
    }
}

.taxonomy-description {
    padding-left: 30px;
}

/*case studies */

.case-studies p{
    color: #606161;
}

.case-studies p a:hover,
.case-studies p a:focus{
    color: #404040;
}

/* dropdown arrows */

.nav-menu li.has-children > a:after {

    content: '  \0025BE' !important;
}


.nav-menu li li.has-children > a:after {

 content: '  \0025B8' !important;

}

.nav-menu li > a:only-child:after {
    content: '';
}

@media screen and (max-width:700px) {
.site-header.home-site {
    background-image: none;
    background-color: #10B3E1;

}
.site-branding {
    padding-top: 0;
}
.top-30 > .site-branding {
    padding-top: 30px;
}
}
@media screen and (max-width:620px) {
.site-header.careers-site {
    background-image: none;
    background-color: #7AA840;

}
.site-header.contact-site {
    background-image: none;
    background-color: #808080;

}
}
@media screen and (max-width:560px) {
.site-header.community-site {
    background-image: none;
    background-color: #E87E25;

}
.site-header.company-site {
    background-image: none;
    background-color: #00949C;

}


}
.socializer {
    padding: 5px !important;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid transparent !important;
}

/* ------- Redcliffe styles ------- */

.redcliffe,
.redcliffe h1,
.redcliffe h2,
.redcliffe h3,
.redcliffe h4,
.redcliffe a
{
    color: #cc4e2c ;
}

.redcliffe h4 {
    background-color: #faf1eb;
    font-size: 17px;
    padding: 5px 10px;
    color: #70160c;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.redcliffe p {
    color: #222222;
}

.redcliffe-pages-backgroud {
    background-color: #dcddde;
}

.redcliffe-footer {
    background-color: #cc4e2c;
}

.redcliffe-site-info {
    color: #fff;
    font-weight: 400;
    font-size: 13px;

}
.redcliffe-site-info p {
    line-height: 17px;
    margin-top: 10px;
    margin-bottom: 1px;
}

.logos-redcliffe img {
    margin: 5px;
    height: 80px;
    border: 5px solid #fff;
    border-radius: 5px;
}

#main.redcliffe img {
    border: 3px solid #d8806f;
}
#main.redcliffe figcaption {
    color: #d8806f;
}

#main.redcliffe hr {
	background-color: #d8806f;
	border: 0;
	height: 1px;
}

#redcliff-gallery img, #n2-ss-2 img {
    border: 0 !important;
}

@media screen and (max-width: 540px){
.site-header.redcliffe-site {
    background-image: none;
    background-color: #cc4e2c;
}
}
